body {
    margin: 50px 0 0 0;
    padding: 0;
    background-image: url('https://res.cloudinary.com/dekavagme/image/upload/v1707907510/64b9451acbfc6601041a39fb_6282ca9b2d47e93fe13bd662_Form-20in-20Webflow_wiv1rd.jpg');
    background-size: cover;
    /* background-color:orange; */
    background-position: top center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin-top: 80px;
    background-color: #003B5B;
    height: 50%;
}
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#submit {
    border: none;
    background-color: rgb(10, 216, 27);
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
p {
    margin-top: 10px;
    color: #555;
}
.pay-img{
    height:150px;
    width:150px;
}
.heading1{
    font-style: italic;
    font-size: xx-large;
}
.para{
    font-style: normal;
    color: black;
    font-size: large;
}
